
.desc{
  width: 600px;
}

.couponImage{
  position: absolute;
  left: 850px;
  top: 190px;
  width: 500px;
  max-height: 600px;
}

.uploadButton{
  position: absolute;
  top: 750px;
}

.desc2{
  width: 600px;
}

.imageURL{
  width: 600px;
}
