<div *ngIf="allowed">

  <mat-horizontal-stepper>

    <mat-step [stepControl]="customerForm">
      <form [formGroup]="customerForm">
        <ng-template matStepLabel>Fill out the customer first name and last name</ng-template>
        <mat-form-field>
          <mat-label>customer first Name</mat-label>
          <input type="text" matInput placeholder="customer first name" formControlName="firstName" />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>customer last Name</mat-label>
          <input type="text" matInput placeholder="customer last name" formControlName="lastName" />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="customerForm">
      <form [formGroup]="customerForm">
        <ng-template matStepLabel>Fill out email and password</ng-template>
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input type="email" matInput placeholder="enter customer email address" formControlName="email" required />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="enter customer password" formControlName="password" />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>confirm Password</mat-label>
          <input type="password" matInput placeholder="confirm password" formControlName="passwordConfirm"  required />
          <mat-error *ngIf="customerForm.controls['passwordConfirm'].hasError('confirmPassword')">confirm password does not match the password above</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done, here are the customer details please check before registering</p>
      <p><b>customer full name:</b> {{customerForm.controls['firstName'].value}}  {{customerForm.controls['lastName'].value}}</p>
      <p><b>customer email address:</b> {{customerForm.controls['email'].value}}</p>
      <p><b>customer password:</b> {{customerForm.controls['password'].value}}</p>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="addCustomer()" >Register</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>


<div *ngIf="!allowed">you are not allowed to view this section..</div>
