<p *ngIf="type == 'company'">Are you sure you want to delete this company?</p>
<div *ngIf="type == 'company'">
  <button mat-raised-button mat-dialog-close >no</button>
  <button mat-raised-button mat-dialog-close (click)="deleteCompany()">Yes</button>
</div>

<p *ngIf="type == 'customer'">Are you sure you want to delete this customer?</p>
<div *ngIf="type == 'customer'">
  <button mat-raised-button mat-dialog-close >no</button>
  <button mat-raised-button mat-dialog-close (click)="deleteCustomer()">Yes</button>
</div>
