<div *ngIf="allowed && this.companies">


  <div class="adminDetails">
    <h2 class="adminName">Welcome Back Administrator</h2>
    <br/><br/>
    <br/>
    <span class="adminId">email address registered : </span>
    <span class="space2"> </span>
    admin@admin.com
    <br/>
    <span class="adminId">Current Active Coupons : </span>
    <span class="space2"> </span>
    {{couponsNumber}}
    <br/>
    <span class="adminId">Current Active Companies : </span>
    <span class="space2"> </span>
    {{companies.length}}
    <br/>
    <span class="adminId">Registered Customers : </span>
    <span class="space2"> </span>
    {{customers.length}}
    <br/>

    <a (click)="addCompany()" class="addCompany" >Add Company</a>
    <br/><br/><br/>
    <a routerLink="/getAllCustomers" class="allCustomers" >Get All Customers</a>
    <div class="rightDiv">
        <mat-form-field>
          <mat-label>Company Id</mat-label>
          <input  type="number" matInput placeholder="enter company Id to search" [(ngModel)]="id" (ngModelChange)="getById()"/>
        </mat-form-field>
    </div>
  </div>

  <div class="list">
  <mat-accordion>
    <mat-accordion class="accordionHeader">
      <mat-expansion-panel disabled class="accordionHeader">
        <mat-expansion-panel-header>
          <mat-panel-title>id</mat-panel-title>
          <mat-panel-title>name</mat-panel-title>
          <mat-panel-title>email</mat-panel-title>
          <mat-panel-title>password</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-expansion-panel *ngFor="let c of companies" class="panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
           {{c.id}}
        </mat-panel-title>
        <mat-panel-title>
           {{c.name}}
        </mat-panel-title>
        <mat-panel-title>
          {{c.email}}
        </mat-panel-title>
        <mat-panel-title>
          {{c.password}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button (click)="updateCompany(c.id)">Update Company</button>
      <button mat-raised-button (click)="deleteCompany(c.id,'company')">delete Company</button>
      <pre *ngFor="let coup of c.coupons"><b>coupon id: </b>{{coup.id}}   <b>category: </b>{{coup.category}}   <b>title: </b>{{coup.title}}   <b>description:</b> <b (click)="description(coup.description)">View</b>   <b>start date: </b>{{coup.startDate}}   <b>end date: </b>{{coup.endDate}}   <b>amount left: </b>{{coup.amount}}   <b>price: </b>{{coup.price}}
        <hr></pre>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = true">

    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>

<div *ngIf="!allowed">you are not allowed to view this section..</div>
