<!--<div class="loginMassage" *ngIf="!login">you must login as customer in order to view our coupons</div>-->

<div>
  <img  routerLink="/Clothes" src="../../../assets/IMG/categories/Clothes.png"/>
  <img  routerLink="/flights" src="../../../assets/IMG/categories/flights.png"/>
  <img  routerLink="/Electronics" src="../../../assets/IMG/categories/Electronics.png"/>
  <img  routerLink="/Vacation" src="../../../assets/IMG/categories/Vacation.png"/>

<!--  <img *ngIf="!login" src="../../../assets/IMG/categories/unlog/ClothesUnlog.png"/>-->
<!--  <img *ngIf="!login" src="../../../assets/IMG/categories/unlog/flightsUnlog.png"/>-->
<!--  <img *ngIf="!login" src="../../../assets/IMG/categories/unlog/ElectronicsUnlog.png"/>-->
<!--  <img *ngIf="!login" src="../../../assets/IMG/categories/unlog/VacationUnlog.png"/>-->

</div>

<div>
  <img routerLink="/Spa" src="../../../assets/IMG/categories/spa.png"/>
  <img  routerLink="/Shoes" src="../../../assets/IMG/categories/Shoes.png"/>
  <img  routerLink="/Food" src="../../../assets/IMG/categories/food.png"/>

<!--  <img *ngIf="!login" src="../../../assets/IMG/categories/unlog/spaUnlog.png"/>-->
<!--  <img *ngIf="!login" src="../../../assets/IMG/categories/unlog/ShoesUnlog.png"/>-->
<!--  <img *ngIf="!login" src="../../../assets/IMG/categories/unlog/foodUnlog.png"/>-->

</div>

