.accordionHeader{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 1600px;
  z-index: 2;
  box-shadow: 0 0 ;
}

.panel{
  width: 1600px;
}

.list{
  margin: auto;
  padding: 70px;
}

mat-panel-title{
  flex-basis: 0;
}

mat-slide-toggle{
  transform: rotate(90deg);
}

img{
  width: 200px;
  height: 200px;
  position: absolute;
  right: 1225px;
}
/*.space{*/
/*  width: 50px;*/
/*}*/

.desc{
  position: absolute;
  top: 25px;
  width: 900px;
  right: 125px;
}
.startAndEndDate{
  position: absolute;
  top: 225px;
  right: 1400px;
}

.amount{
  position: absolute;
  top: 0;
  right: 800px;
}

.buttons{
  position: absolute;
  top: 230px;
  right: 950px;
}

button{
  border-radius: 15px 50px 30px;
  margin-right: 10px;
}

button:hover{
  border-radius: 15px 50px 30px;
  margin-right: 10px;
  background-color: #d8d8d8;
}

a{
  margin: 10px;
  padding: 12px;
  border: #3f51b5 2px solid;
  border-radius: 10px 50px 30px;
  color: #3f51b5;
  text-decoration: none;
}

a:hover{
  margin: 10px;
  padding: 12px;
  border: #3f51b5 2px solid;
  border-radius: 10px 50px 30px;
  color: #3f51b5;
  text-decoration: none;
  background-color: rgba(86, 106, 255, 0.3);
  cursor: pointer;
}

.slider{
  text-align: center;
  position: absolute;
  left: 500px;
  top: 30px;
}

.parent{
  position: relative;
  width: 1550px;
  height: 300px;
}

.companyDetails{
  position: relative;
  margin: auto;
  width: 700px;
  height: 200px;
  background-color: rgba(86, 106, 255, 0.03);
}

.companyName{
  position: absolute;
  padding: 20px;
  color: #3f51b5;
  font-weight: bold;
}

.space{
  display: inline-block;
  width: 160px;
}

.companyId{
  color: #3f51b5;
  position: absolute;
  left: 60px;
}
.space2{
  display: inline-block;
  width: 250px;
}

.addCouponButton{
  position: absolute;
  top: 140px;
  left: 50px;
}

mat-icon{
  position: absolute;
  top: 5px;
  right: 5px;
  color: #3f51b5;
}
