<div *ngIf="allowed">

  <mat-horizontal-stepper>
    <mat-step [stepControl]="couponForm">
      <form [formGroup]="couponForm">
        <ng-template matStepLabel>coupon information</ng-template>
        <mat-form-field>
          <mat-label>title</mat-label>
          <input type="text" matInput placeholder="Coupon Title" formControlName="title" required maxlength="24" />
        </mat-form-field>
        <br/>
          <mat-form-field>
            <mat-label>category type</mat-label>
            <mat-select matInput formControlName="category">
              <mat-option *ngFor="let c of category" [value]="c.value">
                {{c.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <br/>
        <mat-form-field class="desc">
          <mat-label>description</mat-label>
          <textarea matInput placeholder="enter coupon description here" formControlName="description" cols="300" rows="10" maxlength="1100"></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="couponForm">
      <form [formGroup]="couponForm">
        <ng-template matStepLabel>coupon expiration date</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Choose start date</mat-label>
          <input  matInput [matDatepicker]="picker" formControlName="startDate" (ngModelChange)="daysUntilExpiration()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
          <mat-label>Choose expiration date</mat-label>
          <input  matInput [matDatepicker]="picker2" formControlName="endDate" (ngModelChange)="daysUntilExpiration()">
          <mat-error *ngIf="couponForm.controls['endDate'].hasError('startGraterThenEnd')">expiration date cannot be earlier then the start date..</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br/>
        <span *ngIf="daysForExpiration>0">the coupon will expire in <b>{{daysForExpiration}}</b> days from date of beginning</span>
        <br/>
        <div>
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="couponForm">
      <form [formGroup]="couponForm">
        <ng-template matStepLabel>coupon amount price and image</ng-template>
        <mat-form-field>
          <mat-label>amount</mat-label>
          <input type="number" matInput placeholder="enter coupon amount" formControlName="amount" required />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>price</mat-label>
          <input type="number" matInput placeholder="enter coupon price" formControlName="price" required />
        </mat-form-field>
        <br/>
        <mat-form-field class="imageURL">
          <mat-label>image</mat-label>
          <input  type="text" placeholder="coupon image URL" matInput formControlName="image" >
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="couponForm">
      <form [formGroup]="couponForm">
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done, here are the coupon details please check before uploading</p>
        <p><b>coupon title:</b> {{couponForm.controls['title'].value}}</p>
        <p><b>coupon category:</b> {{couponForm.controls['category'].value}}</p>
        <p class="desc2"><b>coupon description:</b> {{couponForm.controls['description'].value}}</p>
        <p><b>coupon startDate:</b> {{couponForm.controls['startDate'].value | date: 'dd/MM/yyyy'}}</p>
        <p><b>coupon endDate:</b> {{couponForm.controls['endDate'].value | date: 'dd/MM/yyyy'}}</p>
        <p><b>coupon amount:</b> {{couponForm.controls['amount'].value}}</p>
        <p><b>coupon price:</b> {{couponForm.controls['price'].value}}</p>
        <p class="desc2" *ngIf="couponForm.controls['image'].value != ' '"><b>coupon image: </b> {{couponForm.controls['image'].value}}</p>
        <p *ngIf="couponForm.controls['image'].value == ' '"><b>coupon image: </b>default image </p>
        <span><img class="couponImage" src="{{couponForm.controls['image'].value}}" *ngIf="couponForm.controls['image'].value != ''" alt="coupon image" /></span>
        <span><img class="couponImage" src="../../../../assets/IMG/coupon Images/coupon default  image.jpg"  alt="coupon image" *ngIf="couponForm.controls['image'].value == ''" /></span>
        <div class="uploadButton">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="addCoupon()" >Upload</button>
        </div>

        </form>
    </mat-step>
  </mat-horizontal-stepper>

</div>


<div *ngIf="!allowed">you are not allowed to view this section..</div>
