button{
  border-radius: 15px 50px 30px;
  margin-right: 10px;
  width: 100px;
}

button:hover{
  border-radius: 15px 50px 30px;
  margin-right: 10px;
  width: 100px;
  background-color: #d8d8d8;
}

div{
  text-align: center;
}
