.accordionHeader{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 1600px;
  z-index: 2;
  box-shadow: 0 0 ;
}

.panel{
  width: 1600px;
}

.list{
  margin: auto;
  padding: 70px;
}

hr{
  width: 50%;
}
pre{
  text-align: center;
}

mat-panel-title{
  flex-basis: 0;
}

.idCust{
  text-align: center;
}

a{
  position: absolute;
  right: 0;
  margin: 10px;
  padding: 12px;
  border: #3f51b5 2px solid;
  border-radius: 10px 50px 30px;
  color: #3f51b5;
  text-decoration: none;
}

a:hover{
  position: absolute;
  right: 0;
  margin: 10px;
  padding: 12px;
  border: #3f51b5 2px solid;
  border-radius: 10px 50px 30px;
  color: #3f51b5;
  text-decoration: none;
  background-color: rgba(86, 106, 255, 0.3);

}



.adminDetails{
  position: relative;
  margin: auto;
  width: 700px;
  height: 200px;
  background-color: rgba(86, 106, 255, 0.03);
}

.adminName{
  position: absolute;
  padding: 20px;
  color: #3f51b5;
  font-weight: bold;
}

.adminId{
  color: #3f51b5;
  position: absolute;
  left: 60px;
}
.space2{
  display: inline-block;
  width: 250px;
}

.rightDiv{
  position: absolute;
  left: 500px;
  bottom: 0;
}

.addCustomer{
  cursor: pointer;
  top: 0;
}


.allCompanies{
  top: 60px;
}

button{
  border-radius: 15px 50px 30px;
  margin-right: 10px;
}

button:hover{
  border-radius: 15px 50px 30px;
  margin-right: 10px;
  background-color: #d8d8d8;
}
