<nav aria-label="breadcrumb">
  <span class="breadcrumb-item-active" routerLink=""><b>Home</b></span>
  <span class="space"> / </span>
  <span class="breadcrumb-item">Electronics</span>
</nav>

<div class="cube">
  <div class="coupon" *ngFor="let c of clothesCoupons" [routerLink]="['/coupon/',c.id]">
    <img *ngIf="c.image == ' '" class="image" src="../../../../assets/IMG/coupon Images/coupon default  image.jpg"/>
    <img *ngIf="c.image != ' '" class="image" src="{{c.image}}"/>
    <br/>
    <span>{{c.title}}</span>
    <br/>
    <span>only ₪{{c.price}}</span>
  </div>
</div>
