.title{
  position: absolute;
  font-size: 60px;
}

.parent{
  position: relative;
  border-radius: 50px 350px 175px;
  box-shadow: 0 30px 40px rgba(63, 81, 181, 0.52);
  /*border: 4px solid #3f51b5;*/
  padding: 50px;
  width: 1540px;
  height: 650px;
  right: -45px;
}
.company{
  position: absolute;
  top: 100px;
  color: gray;
}

.description{
  width: 600px;
  display: inline-block;
  position: absolute;
  top: 200px;

}

img{
  position: absolute;
  top: 100px;
  left: 950px;
  width: 500px;
  max-height: 600px;
  /*height: 500px;*/
}

.EndDate{
  position: absolute;
  top: 600px;
  right: 1200px;
}

.price{
  position: absolute;
  top: 650px;
  right: 1285px;

}

.button{
  position: absolute;
  top: 700px;
  border-radius: 15px 50px 30px;
  right: 1200px;
}

.CompanyUpdateControlButton{
  position: absolute;
  top: 700px;
  right: 1050px;
  border-radius: 15px 50px 30px;
  color: gray;
}

.CompanyDeleteControlButton{
  position: absolute;
  top: 700px;
  right: 905px;
  border-radius: 15px 50px 30px;
  color: gray;
}

/*css only for breadcrumb*/

.breadcrumb-item-active{
  cursor: pointer;
}
.breadcrumb-item-active:focus{
  outline: 0;
}
.breadcrumb-item-active:hover{
  border-radius: 15px 50px 30px;
  background-color: rgba(82, 103, 248, 0.26);
}
.space{
  letter-spacing: 5px;
}

nav{
  position: absolute;
  left: 100px;
  top: 65px;
}
