.main{
  position: relative;

}

body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
small {
  font-size: 0.5em;
}

li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.table-row-done{
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgb(44, 141, 24);
}
.table-row-unDone{
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgb(141, 15, 24);
}
.col-1 {
  flex-basis: 10%;
}
.col-2 {
  flex-basis: 40%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 25%;
}
.col-5 {
  flex-basis: 10%;
}

.purchaseButton{
  border-radius: 15px 50px 30px;
  margin-right: 10px;
}

.delete:hover{
  cursor: pointer;
  background-color: #8f9fa0;
  border-radius: 50%;

}

.buttons{
  position: absolute;
  left: 1100px;
}
