.coupon{
  border-radius: 15px 50px 30px;
  box-shadow: 0 2px 5px 5px rgba(70, 88, 215, 0.08);
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 40px;
}

.coupon:hover{
  border-radius: 15px 50px 30px;
  box-shadow: 0 2px 5px 5px rgba(70, 88, 215, 0.08);
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 40px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.cube{
  position: absolute;
  margin: auto;
  width: 70%;
  padding: 40px;
  right: 160px;
}

.image{
  width: 100px;
  height: 100px;

}

.coupon:focus{
  border-radius: 15px 50px 30px;
  box-shadow: 0 2px 5px 5px rgba(70, 88, 215, 0.08);
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 40px;
  outline: 0;
}
/*css only for breadcrumb*/

.breadcrumb-item-active{
  cursor: pointer;
}
.breadcrumb-item-active:focus{
  outline: 0;
}
.breadcrumb-item-active:hover{
  border-radius: 15px 50px 30px;
  background-color: rgba(82, 103, 248, 0.26);
}
.space{
  letter-spacing: 5px;
}

nav{
  position: absolute;
  left: 100px;
  top: 65px;
}
