<mat-toolbar color="primary">
  <img class="title" src="../../../assets/IMG/title.png" alt="market place" routerLink=""/>
  <span class="h"></span>
  <a routerLink="">View Coupons</a>
  <span class="h"></span>
  <a routerLink="{{yourAccount}}" *ngIf="token">Your Account</a>
  <a routerLink="" *ngIf="!token" matTooltip="you need to login in order to view Your Account">Your Account</a>
  <span class="h"></span>
  <a *ngIf="token" routerLink="" (click)="logout()">Log Out</a>
  <a *ngIf="!token" routerLink="" (click)="openDialog()">Login</a>
<span class="h"></span>
  <mat-icon>phone</mat-icon>
  <h3>*000</h3>
  <mat-icon *ngIf="service.cartCount.length >0" class="cart" [matBadge]="service.cartCount.length" matBadgeColor="warn" routerLink="/cart">shopping_cart</mat-icon>
  <mat-icon *ngIf="service.cartCount.length == 0" class="cart" routerLink="/cart">shopping_cart</mat-icon>
</mat-toolbar>
