<div *ngIf="allowed">
  <div class="customerDetails" *ngIf="customer">
    <h2 class="customerName">Welcome Back {{customer.firstName}} {{customer.lastName}}</h2>
    <br/><br/><br/>
    <span class="customerId">personal Id: </span>
    <span class="space"> </span>
    {{customer.id}}
    <br/>
    <span class="customerId">email address registered : </span>
    <span class="space2"> </span>
    {{customer.email}}
    <br/>
    <span class="customerId">Coupons Purchases : </span>
    <span class="space2"> </span>
    {{customer.coupons.length}}
    <br/>
    <mat-icon matTooltip="You Need Your Admin to Change Personal Information">edit</mat-icon>

    <div class="slider">
      Get By Category
      <br/><br/>
      <mat-slide-toggle (change)="reload()" [(ngModel)]="isChecked"></mat-slide-toggle>
      <br/><br/>
      Get By MaxPrice
      <br/>
      <mat-form-field *ngIf="isChecked">
        <mat-label>Get Coupons By MaxPrice</mat-label>
        <input type="number" matInput placeholder="enter Maximum Price" [(ngModel)]="maxPrice" (ngModelChange)="getByMaxPrice()" />
      </mat-form-field>
      <mat-form-field *ngIf="!isChecked">
        <mat-label>Get Coupons By Category</mat-label>
        <mat-select matInput [(ngModel)]="categoryType" (ngModelChange)="getByCategory()">
          <mat-option *ngFor="let c of category" [value]="c.value" >
            {{c.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="list">
    <mat-accordion>
      <mat-accordion class="accordionHeader">
        <mat-expansion-panel disabled class="accordionHeader">
          <mat-expansion-panel-header>
            <mat-panel-title>Coupon Id</mat-panel-title>
            <mat-panel-title>Category</mat-panel-title>
            <mat-panel-title>Title</mat-panel-title>
            <mat-panel-title>Price</mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
<!--      <mat-expansion-panel disabled class="panel">-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-panel-title>Coupon Id</mat-panel-title>-->
<!--          <mat-panel-title>Category</mat-panel-title>-->
<!--          <mat-panel-title>Title</mat-panel-title>-->
<!--          <mat-panel-title>Price</mat-panel-title>-->
<!--        </mat-expansion-panel-header>-->
<!--      </mat-expansion-panel>-->
      <mat-expansion-panel *ngFor="let c of customerCoupon" class="panel">
        <mat-expansion-panel-header >
          <mat-panel-title>
            {{c.id}}
          </mat-panel-title>
          <mat-panel-title>
            {{c.category}}
          </mat-panel-title>
          <mat-panel-title>
            {{c.title}}
          </mat-panel-title>
          <mat-panel-title>
            {{c.price}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="parent">
        <img *ngIf="c.image == ' '" class="image" src="../../../../assets/IMG/coupon Images/coupon default  image.jpg" alt="coupon image"/>
        <img *ngIf="c.image != ' '" class="image" src="{{c.image}}" alt="coupon default image"/>
                  <div class="desc">{{c.description}}</div>
        <span class="startAndEndDate">start date: {{c.startDate}}<br/> end date: {{c.endDate}}</span>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = true">
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<div *ngIf="!allowed">you are not allowed to view this section..</div>
