<div *ngIf="allowed">

  <mat-horizontal-stepper>

    <mat-step [stepControl]="companyForm">
      <form [formGroup]="companyForm">
        <ng-template matStepLabel>Fill out the company name</ng-template>
        <mat-form-field>
          <mat-label>Company Name</mat-label>
          <input type="text" matInput placeholder="company name" formControlName="name" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="companyForm">
      <form [formGroup]="companyForm">
        <ng-template matStepLabel>Fill out email and password</ng-template>
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input type="email" matInput placeholder="enter company email address" formControlName="email" required />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="enter company password" formControlName="password" />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>confirm Password</mat-label>
          <input type="password" matInput placeholder="confirm password" formControlName="passwordConfirm"  required />
          <mat-error *ngIf="companyForm.controls['passwordConfirm'].hasError('confirmPassword')">confirm password does not match the password above</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done, here are the company details please check before registering</p>
      <p><b>company name:</b> {{companyForm.controls['name'].value}}</p>
      <p><b>company email address:</b> {{companyForm.controls['email'].value}}</p>
      <p><b>company password:</b> {{companyForm.controls['password'].value}}</p>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="addCompany()" >Register</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>


<div *ngIf="!allowed">you are not allowed to view this section..</div>
